.offers{
    display: block;
    flex: 1;
    padding: 40px;
    text-align: center;
    min-height: 50vh;
    width:100%;
    box-sizing: border-box;
}

.heading{
    font-size: 2rem;
    margin-top: 0px;
}

.para{
    font-weight: 600;
}