.card{
    background-color: white;
    height:340px;
    width: 20%;
    padding: 20px 20px 15px;
    margin-bottom: 20px;
    border: 2px solid transparent;
}

.card:hover{
    border: 2px solid rgb(5, 129, 19);
}

.box-img{
    height: 250px;
    width: 250px;
    margin-top: 0;
    background-size: cover;
}

.card h2{
    font-size: 1.2rem;
    margin-bottom: 5px;
    margin-top: 0;
}

.card p{
    font-size: 0.9rem;
}

.showmore{
    color: blue;
    display:flex;
    align-items: flex-end;
    justify-content: center;
}

/*media queries*/
@media (max-width :768px){
    .card {
        width: 90%;
        margin: 10px auto;
    }

    .box-img{
        height: auto;
    }
}